.card{

    cursor: pointer;
    height: 142px;

    .card-footer{
        padding: 5px!important;
    }

    .item-title{
        margin-bottom: -0px!important;
    }
    .price-item{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
        color: #3F51B5;

    }
   
    .item-detail{
        font-size: small;
        color: #676767;
    }
    .delete-action{
        float: right;
        margin-top: -12px;
        margin-right: -15px;
        cursor: pointer;
    }
    .delete-action:hover{
        color: #dc3545!important;
    }
}

.card:hover{
    box-shadow: 0px 1px 4px 0px grey;
}

