<div class="container feature-container">
    <div class="crud-header">
            <button class="btn btn-primary float-right" [routerLink]="['/home/products/product-add']">
                    <i class="material-icons">add</i>
                    Nuevo
                </button>
        <h4 class="crud-title">Lista de productos</h4>

        <hr>
    </div>
    <div class="row mt-10">
        <div class="col-md-3 mb-3" *ngFor="let product of productsList$ |async">
            <div class="card" [routerLink]="['/home/products/product',product.id]">
                <div class="card-body">
                    <a class="action-link delete-action" (click)="setSelected(product,$event)">
                        <i class="material-icons">clear</i>
                    </a>
                    <h5 class="item-title">{{product.description}}</h5>
                    <small class="text-muted">{{product.details}}</small>
                    <label class="price-item">{{product.price |currency}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<app-delete-modal (whenHideModal)="onHideModal()" [isModalShown]="show" [message]="'Eliminar '+selectedProduct.description+'?'" (delete)="delete()"></app-delete-modal>

