
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  
  }
  #footer-title{
    color: #636363;
    margin-bottom: 0px !important;
  }
  .footer-content-right
  {
    padding: 15px;
  }
  .image-footer{
    height: 20px;
  }